.movie__card__poster {
	width: 200px;
	height: 300px;
	object-fit: contain;
}
.movie__card {
	width: 200px;
	max-width: 200px;
	overflow: hidden;
}
.movies__list {
	/* display: grid; */

	/* grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); */
	/* grid-auto-columns: 50px;
	grid-gap: 10px; */
	/* gap: 20px; */
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.movies__list > * {
	flex: 1 1;
}
