/* Application CSS for styling, not using all  */

.movie__card__poster {
	width: 200px;
	height: 300px;
	object-fit: contain;
}
.movie__card__poster__placeholder {
	/* width: 200px;
	 */
	width: 100%;
	height: 300px;
	background-color: #9b9b9b;
}
.movie__card {
	width: 200px;
	max-width: 200px;
	overflow: hidden;
}
.movies__list {
	/* display: grid; */

	/* grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); */
	/* grid-auto-columns: 50px;
	grid-gap: 10px; */
	/* gap: 20px; */
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.movies__list > * {
	flex: 1 1;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 8px;
	padding-bottom: 8px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}
